![課題_スクリーンショット](../img/課題.png)

In [6]:
import prophet
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [7]:
df = pd.read_excel('../data/apparel.xlsx')
df.set_index('ds', inplace=True)
df.head(3)

            Weather  Bargain        y
ds
1990-01-05      0.0      0.0  58507.0
1990-01-06      0.0      0.0  49088.0
1990-01-07      0.0      0.0  50066.0

## 欠損(休業日)の確認

In [8]:
df.isnull().sum()

Weather    167
Bargain    167
y          167
dtype: int64

In [9]:
df['Closed'] = df.isnull().any(axis=1).astype(int)
df[['Weather', 'Bargain', 'y']] = df[['Weather', 'Bargain', 'y']].fillna(0)
df.head()

            Weather  Bargain        y  Closed
ds
1990-01-05      0.0      0.0  58507.0       0
1990-01-06      0.0      0.0  49088.0       0
1990-01-07      0.0      0.0  50066.0       0
1990-01-08      0.0      0.0  45954.0       0
1990-01-09      0.0      0.0  66422.0       0

In [10]:
df.tail()

            Weather  Bargain         y  Closed
ds
1993-12-27      0.0      1.0   98798.0       0
1993-12-28      0.0      1.0   98305.0       0
1993-12-29      0.0      0.0   94771.0       0
1993-12-30      0.0      0.0  108693.0       0
1993-12-31      0.0      0.0  111898.0       0

## jpholidayを用いて休日情報の格納

In [13]:
# 1990年～1993年の祝日を取得する
import jpholiday
import datetime

start_date = datetime.date(1990, 1, 5)
end_date = datetime.date(1993, 12, 31)
delta = end_date - start_date

hd = []
for i in range(delta.days + 1):
    day = start_date + datetime.timedelta(days=i)
    if jpholiday.is_holiday(day):
        hd.append(day)

df_dates = df.index.to_pydatetime()
df_dates = [d.date() for d in df_dates]
df['Holiday'] = pd.Series(df_dates, index=df.index).isin(hd).astype(int)
df.head(3)

            Weather  Bargain        y  Closed  Holiday
ds
1990-01-05      0.0      0.0  58507.0       0        0
1990-01-06      0.0      0.0  49088.0       0        0
1990-01-07      0.0      0.0  50066.0       0        0

In [15]:
df.to_csv('../data/apparel_clean.csv', index=True)